// COULEURS ---------------------------------------------

$turquoise: #279BBD;
$seablue: #1E84BA;
$darkblue: #245AA7;
$lightblue: #7EBEF1;
$white: #f1f1f1;
$salmon: #F8B28F;


// MAPS --------------------------------------------------

$breakpoints: (
    XS : 650px,
    S : 700px,
    XL : 1200px,
)